.top_row{
    border: 1px solid black;
    align-content: center;
    width: 400px;
    padding: 10px 0px 10px 0px;
}
div.top-bar{
    margin-top: 4em;
}
div.top-search{
    margin-top: 1em;
}
div.top-navbar{
    margin-top: 1em;
}
span.top-search{
    cursor:pointer;
}
img.logo-img {
    height: 60px;
}
a.loginState {
    color: #ff8041;
    text-decoration: none;
}
a.loginState:hover {
    color: white;
}
#userState{
    margin-top: 1.5em;
    font-size: 1em;
    color: white;
}
.sep{
    margin-left:0.5em;
    margin-right: 0.5em;
    color: white;
}

ul.goodWrapper{
    list-style: none;
    margin-left: -20px;
    width: 100%;
}

li.good-box.ng-scope{
    float: left;
    width: 25%;
    position: relative;
}

.goodBlock{
    position: relative;
    background-color: white;
    padding: 10px 6px;
    border: 1px solid white;
}
img.goodPicture {
    height: 220px;
}
.pPic {
    text-align: center;
}
.pName.ng-binding {
    text-align: center;
    font-size: 1.2em;
    color: #ff3640;
    margin-top: 1em;
}
.pDescription.ng-binding {
    height: 40px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    margin-top: 0.5em;
}
.pPrice {
    text-align: center;
    color: #ff4025;
    margin-top: 0.5em;
    font-size: 18px;
}

.goodBlock:hover{
    cursor: pointer;
    border: 1px solid red;
}
.page-list.ng-isolate-scope {
    clear: both;
}
.nav>li{
    margin-left: 10px;
    margin-right: 10px;
}
table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

body{
    background-color: white;
}
#changePage{
    margin-top: 1.5em;
}

span.navbar-brand.ng-binding.selected {
    background-color: #129ede;
    color: white;
}
span.navbar-brand.ng-binding{
    cursor: pointer;
}
.page-list .pagination {float:right;}
.page-list .pagination span {cursor: pointer;}
.page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
.page-list .pagination .separate span:hover {background: none;}
.page-list .page-total {float:right; margin: 25px 20px;}
.page-list .page-total input, .page-list .page-total select{height: 26px; border: 0px solid #ddd;}
.page-list .page-total input {width: 40px; padding-left:3px;}
.page-list .page-total select {width: 50px;}
.page-list .pagination .am-active span{background-color: #248cff; color: white;}


#userName{
    cursor: pointer;
}