.top_row{
    border: 1px solid black;
    align-content: center;
    width: 400px;
    padding: 10px 0px 10px 0px;
}
#topBar{

}
#userState{
    margin-top: 1.5em;
    font-size: 1em;
    color: white;
}
.sep{
    margin-left:0.5em;
    margin-right: 0.5em;
    color: white;
}
li{
    margin-left: 10px;
    margin-right: 10px;
}
table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

img.goodPicture{
    height: 10em;
    width: 10em;
}
.goodBlock p{
    text-align:center;
}
p.pPic{
    padding-top: 1em;
}
p.pName{
    margin-top: 1em;
    font-size: 1.5em;
}
p.pPrice{
    color: #ff6700;
    font-size: 1.5em;
}
p.pDescription{
    color: grey;
}
p.pCounts{
    font-size: 1.2em;
}
span.goodNum{
    color:  #ff6700;
    margin-bottom: 1em;
}
.goodBlock{
    background-color: white;
}
body{
    background-color: #f1f1f1;
}
#changePage{
    margin-top: 1.5em;
}