.bg{
    background-image: url("../img/login_bg.jpg");
    background-position: center 0;  
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-size: cover;  
}
.form{
    background: rgba(255,255,255,0.5); 
    width:480px; 
    padding: 20px 0px 20px 0px;
    margin:120px auto;
}
img.logo-img{
    height: 60px;
}