<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>商品详情</title>
    <link href="/resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resource/css/lib/bootstrapValidator0.5.3.css" rel="stylesheet">
    <script src="/resource/js/lib/jquery3.2.1.js"></script>
    <script src="/resource/js/lib/bootstrap.js"></script>
    <script src="/resource/js/lib/bootstrapValidator.js"></script>
    <script src="/resource/js/lib/angular.min.js"></script>
    <script src="/resource/js/utils.js?t=20180605"></script>
    <style>
        .detail-img {
            width: 20em;
        }
        .detail-x {
            font-size: 18px;
        }
        #userState{
            margin-top: 1.5em;
            font-size: 1em;
            color: white;
        }
        .sep{
            margin-left:0.5em;
            margin-right: 0.5em;
            color: black;
        }
    </style>
</head>
<body ng-app="myApp">

<div class="container" ng-controller="goodDetailCtrl">
    <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-6 col-md-6">
            <h1>商品详情页面 </h1> <hr>
        </div>
        <div class="col-md-3" id="userState">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-md-1"></div>
        <div class="col-sm-3 col-md-3">
            <img class="detail-img" ng-src="{{'/resource/img/good/' + good.goodImage}}">
        </div>
        <div class="col-sm-6 col-md-6 detail-x">
            <table class="table table-striped">
                <tr>
                    <th>商品名称</th>
                    <td>{{good.name}}</td>
                </tr>
                <tr>
                    <th>商品价格</th>
                    <td>{{good.price}}元</td>
                </tr>
                <tr>
                    <th>商品描述</th>
                    <td>{{good.description}}</td>
                </tr>
                <tr>
                    <th>商品类别</th>
                    <td>{{type}}</td>
                </tr>
                <tr>
                    <th>商品库存</th>
                    <td>{{good.counts}}</td>
                </tr>
                <tr>
                    <th>购买数量</th>
                    <td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" ng-click="subCounts()">-</button>
                            <button id="productCounts" type="button" class="btn btn-default" ng-init="productCounts=1">{{productCounts}}</button>
                            <button type="button" class="btn btn-default" ng-click="addCounts()">+</button>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="row">
                <div class="col-sm-1 col-md-1 col-lg-1"></div>
                <button class="btn btn-danger btn-lg col-sm-4 col-md-4 col-lg-4" ng-hide="true" ng-click="addToShoppingCar()">添加购物车</button>
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <button  class="btn btn-danger btn-lg col-sm-4 col-md-4 col-lg-4" ng-click="buyConfirm()">购买</button>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <hr class="division"/>
            <table class="table evaluationTable" border="0" id="evaluation">
            </table>
            <hr/>
            <div id="inputArea"></div>
        </div>
    </div>
</div>
<footer>
    <br/>
    <p id="c1" style="text-align:center">Copyright &copy; 2018-2019 aliang-seu.cn 版权所有</p>
</footer>

<script>
    $(function () {
        getLoginState();
    })

    var href = location.href; //取得整个地址栏
    var goodId = href.substr(href.indexOf("=") + 1);
    var app = angular.module("myApp", []);

    app.controller("goodDetailCtrl", function ($scope, $http) {
        $http.get("/good/GoodDetail/"+goodId).success(function (response) {
            $scope.good = response.data;

            $http.get("/queryGoodType/" + $scope.good.type).success(function (response) {
                $scope.type = response.data;
            });

            console.log(response.data)
        }).error(function (resposne) {
            alert("数据库错误");
        })

        $scope.addCounts = function (){
            if($scope.productCounts == $scope.good.counts){
                return;
            }else {
                $scope.productCounts += 1;
            }
        }
        $scope.subCounts = function () {
            if($scope.productCounts == 1){
                return;
            }else{
                $scope.productCounts -= 1;
            }
        }
        //购买商品页面
        $scope.buyConfirm = function () {

            var orderData = {
                userId: localStorage.getItem("userId"),
                goodId: $scope.good.goodId,
                time: Date.now(),
                orderState: 0,
                goodPrice: $scope.good.price,
                counts:$scope.productCounts
            }

            StandardPost("/order/confirmOrder", {
                userId: localStorage.getItem("userId"),
                goodId: $scope.good.goodId,
                goodName: $scope.good.name,
                orderState: 0,
                goodPrice: $scope.good.price,
                counts:$scope.productCounts
            });
        }
    })

</script>
</body>
</html>
