<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!-- 配置SpringMVC -->
    <!-- 1:开启SpringMVC注解模式 -->
    <!-- 简化配置:
            (1)自动注册DefaultAnnotationHandlerMapping, AnnotationMethodHandlerAdapter
            (2)提供一系列：数据绑定，数字和日期的format@NumberFormat @DataTimeFormat,
                xml,json默认读写支持
            -->
    <!-- <mvc:annotation-driven/> -->
    <!-- 会自动注册了validator  ConversionService  -->
    <mvc:annotation-driven/>

    <!-- servlet-mapping 映射路径:"/" -->
    <!-- 静态资源默认servlet配置
    	1:加入对静态资源的处理: js,gif,png
    	2:允许使用"/"做默认映射
    -->
    <mvc:default-servlet-handler/>

    <!-- 3:配置jsp 显示VideoResolver -->

    <!--<bean id="viewResolverJsp" class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix" value="/WEB-INF/view/"/>-->
        <!--<property name="suffix" value=".jsp"/>-->
        <!--<property name="viewClass" value="org.springframework.web.servlet.view.InternalResourceView"/>-->
        <!--<property name="order" value="1"/>-->
    <!--</bean>-->

    <!-- 配置freeMarker视图解析器 -->
    <bean id="viewResolverFtl" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
        <property name="contentType" value="text/html; charset=UTF-8"/>
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
        <property name="exposeSpringMacroHelpers" value="true" />
        <property name="cache" value="true" />
        <property name="suffix" value=".html" />
        <property name="order" value="0"/>
    </bean>

    <!-- 配置freeMarker的模板路径 -->
    <bean id="freeMarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!-- 模板根目录 -->
        <property name="templateLoaderPaths" value="/WEB-INF/view/" />
        <!-- 编码格式 -->
        <property name="defaultEncoding" value="utf-8" />
    </bean>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
    </bean>

    <!-- 4:扫描web相关的bean -->
    <context:component-scan base-package="cn.aliang.controller"/>

    <!-- 拦截器配置 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/order/*" />
            <mvc:mapping path="/alterData*" />
            <mvc:mapping path="/alterUserData*"/>
            <mvc:mapping path="/getUserData*" />
            <mvc:mapping path="/logOut"/>
            <bean class="cn.aliang.Interceptor.LoginInterceptor">
                <property name="unExcludedUrls">
                    <list>
                        <value>/order/sendOrder</value>
                    </list>
                </property>
            </bean>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/adminIndex*"/>
            <bean class="cn.aliang.Interceptor.AdminLoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>