<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理页面</title>

</head>

<body ng-app="adminApp" ng-controller="adminController">

<div class="container-fluid">
    <div class="row top">
        <div class="logo-img">网上商城后台管理系统</div>
        <div class="time-show">{{current_time | date:'yyyy-MM-dd hh:mm:ss'}}</div>
        <div class="admin-quit"><a href="/adminLogOut">退出系统</a></div>
    </div>
    <div class="row main-body">
        <div class="left-container">
            <div class="left-list-item" ng-class="{true:'select', false:'unselect'}[selectMenu == $index]"
                 ng-click="chSelectMenu($index)" ng-repeat="menu in menuArray">
                    {{menuArray[$index]}}
            </div>
        </div>
        <div class="right-container container" >
            <!-- 路由视图 -->
            <ui-view></ui-view>
        </div>
    </div>
</div>

<link href="/webmarket/css/bootstrap.min.css" rel="stylesheet">
<script src="/webmarket/js/lib/jquery3.2.1.js"></script>
<script src="/webmarket/js/lib/bootstrap.js"></script>
<script src="/webmarket/js/lib/angular.min.js"></script>
<script src="/webmarket/js/lib/angular-ui-router.min.js"></script>
<script src="/webmarket/js/lib/ui-bootstrap-tpls.min.js"></script>
<link href="/webmarket/css/adminIndex.css?t=20180223608" rel="stylesheet">
<script src="/webmarket/js/lib/tm.pagination.js?t=2012"></script>
<script src="/webmarket/js/adminIndex.js?t=2011118122111"></script>

</body>
</html>