<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>我的订单</title>

    <link href="/resource/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resource/css/lib/bootstrapValidator0.5.3.css" rel="stylesheet">
    <script src="/resource/js/lib/jquery3.2.1.js"></script>
    <script src="/resource/js/lib/bootstrap.js"></script>
    <script src="/resource/js/lib/bootstrapValidator.js"></script>

</head>
<body ng-app="myApp">
    <div ng-controller="checkController">
        <div class="container">
            <div class="row">
                <ul class="nav nav-tabs list-group-diy" role="tablist">
                    <li role="presentation" class="active list-group-item-diy"><a href="#unHandle" aria-controls="unHandle" role="tab" data-toggle="tab">待发货订单&nbsp;<span class="badge" id="unHandleCount">0</span></a></li>
                    <li role="presentation" class="list-group-item-diy"><a href="#transport" aria-controls="transport" role="tab" data-toggle="tab">运输中订单&nbsp;<span class="badge" id="transportCount">0</span></a></li>
                    <li role="presentation" class="list-group-item-diy"><a href="#receive" aria-controls="receive" role="tab" data-toggle="tab">已收货订单&nbsp;<span class="badge" id="receiveCount">0</span></a></li>
                    <li role="presentation" class="list-group-item-diy"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">全部订单&nbsp;<span class="badge" id="allCount">0</span></a></li>
                </ul>
            </div>
        </div>

    </div>
</body>
</html>