<!DOCTYPE html>
<#setting number_format="#">
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>确认订单</title>
</head>
<body ng-app="myApp">
<div class="container-fluid" id="loginState">
    <nav class="navbar navbar-inverse" role="navigation" id="topBar">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="logo-img col-md-1">
                <a href="/"><img class="logo-img" src="/img/logo.jpg" alt="logo"></a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4  pull-right" id="userState">
            </div>
        </div>
    </nav>
</div>
<div class="container" ng-controller="confirmController">
    <div class="row">
        <h2 class="page-header">收货地址</h2>
        <div class="row">
            <!-- 收货地址 -->
            <div class="address-box col-md-3" ng-class="{true: 'active', false: 'inactive'}[selectAddIndex == $index]" ng-repeat="address in addressList" ng-click="selectAddress($index)">
                <h4 class="page-header">{{address.receiveName}}
                    <a ng-click="deleteAddress(address.addressId)">
                        <span class="delete-address glyphicon glyphicon-remove"></span>
                    </a>
                </h4>
                <p class="address-phone">{{address.phone}}</p>
                <p class="address-address">{{address.address}}</p>
            </div>

            <div class="address-add col-md-3" ng-click="addNewAddress()">
                <div class="address-new">
                    <img src="/img/add_cart.png">
                    <p class="text">添加新的地址</p>
                </div>
            </div>
        </div>

        <h3 class="page-header">确认订单信息</h3>
        <div class="row">
            <div class="order-box col-md-10">
                <table class="order-table table">
                    <tr>
                        <th>商品名称</th>
                        <th>购买数量</th>
                        <th>商品单价(元)</th>
                        <th>小计(元)</th>
                    </tr>
                    <tr>
                        <td>{{goodInfo.goodName}}</td>
                        <td>{{goodInfo.goodCounts}}</td>
                        <td>{{goodInfo.price | number: 2}}</td>
                        <td id="totalPrice" ng-bing="totalPrice">{{totalPrice | number: 2}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 pull-right">
                <button class="btn btn-primary btn-lg" ng-click="confirmOrder()">确认订单</button>
            </div>
        </div>
    </div>

</div>


<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/lib/bootstrapValidator0.5.3.css" rel="stylesheet">
<script src="/js/lib/jquery3.2.1.js"></script>
<script src="/js/lib/bootstrap.js"></script>
<script src="/js/lib/bootstrapValidator.js"></script>
<script src="/js/lib/angular.min.js"></script>
<script src="/js/utils.js?t=20180608"></script>
<link href="/css/confirmOrder.css?t=2018062108" rel="stylesheet">
<script src="/js/lib/ui-bootstrap-tpls.min.js"></script>
<script>
    var goodInfo = {
        userId : "${order.userId}",
        goodId : "${order.goodId}",
        goodCounts : "${order.counts}",
        price : "${order.goodPrice?string('#.##')}",
        goodName : "${order.goodName}"
    };
</script>
<script src="/js/confirmOrder.js?t=20180611"></script>
<script type="text/ng-template" id="addNewAdd.html">
    <div>
        <div class="modal-header">
            <h3 class="modal-title" align="center">
                新增地址
            </h3>
        </div>
        <div class="modal-body">
            <form class="form">
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    <input type="text" class="form-control" placeholder="收货人姓名" ng-model="data.receiveName">
                </div><br/>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-earphone"></span>
                    <input type="text" class="form-control" placeholder="收货人电话" ng-model="data.phone">
                </div><br/>
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-tower"></span>
                    <input type="text" class="form-control" placeholder="详细地址" ng-model="data.address">
                </div><br/>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok(data)">
                确认
            </button>
            <button class="btn btn-warning" ng-click="cancel()">
                退出
            </button>
        </div>
    </div>
</script>
</body>
</html>