<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网上商城</title>

    <link href="resource/css/lib/bootstrap.css" rel="stylesheet">
    <link href="resource/css/lib/bootstrapValidator0.5.3.css" rel="stylesheet">
    <script src="resource/js/lib/jquery3.2.1.js"></script>
    <script src="resource/js/lib/bootstrap.js"></script>
    <script src="resource/js/lib/bootstrapValidator.js"></script>
    <link href="resource/css/main.css" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <img src="resource/img/top.jpg" class="img-responsive center-block" >
    </div>
</div>
<!-- 顶端状态栏 -->
<div class="container-fluid" id="loginState">
    <div class="row" style="background-color:darkgrey">
        <div class="col-md-3  pull-right" style="padding-top: 5px; padding-bottom: 5px;" id="userState">

        </div>
    </div>
</div>

<!-- 搜索框预留 -->
<div class="container">
    <div class="row">
        <div class="col-md-1">
            <a href="/"><img src="resource/img/logo.jpg" alt="logo"></a>
        </div>
        <div class="col-md-6 pull-right" style="margin-top: 15px; margin-right: 100px;">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="请输入要查询的内容"/>
                <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i></span>
            </div>
        </div>
    </div>
</div>


<div ng-app="myApp" >

    <div class="container">
        <!-- 导航栏 -->
        <div class="row" ng-controller="goodTypeCtrl">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header col-offset-2 col-md-1">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">首 页</a>
                        </div>
                        <div>
                            <div class="navbar-header col-md-10 pull-right">
                                <div class="navbar-collapse collapse" role="navigation">
                                    <ul class="nav navbar-nav">
                                        <li ng-repeat="type in goodTypes">
                                            <a class="navbar-brand" style="display: block" ng-click="ShowPages(type.type)">{{type.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <div ng-controller="goodListCtrl">
            <!-- 分页网格 -->
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-4" ng-repeat="item in items">
                    <div class="goodBlock">
                        <p class="pPic"><a href="#"><img class="goodPicture" src="resource/img/mi5.jpg" ></a></p>
                        <p class="pName">{{item.name}}</p>
                        <p class="pDescription">{{item.description}}</p>
                        <p class="pPrice"><span>{{item.price}}元</span></p>
                        <p class="pCounts">数量:<span class="goodNum">{{item.counts}}</span></p>
                    </div>

                </div>
            </div>

            <div class="row" id="changePage">
                <!-- 换页支持 -->
                <!-- jQuery分页插件 -->
                <ul class="pagination pull-right">
                    <li>
                        <a ng-click="Previous()">
                            <span role="button">上一页</span>
                        </a>
                    </li>
                    <li class="active" ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}">
                        <a ng-click="selectPage(page)" >{{ page }}</a>
                    </li>
                    <li>
                        <a ng-click="Next()">
                            <span role="button">下一页</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>


<script src="resource/js/lib/angular.min.js"></script>
<script src="resource/js/utils.js"></script>

<script src="resource/js/main.js?t=20180601"></script>
</body>

</html>
