<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>网上商城</title>
</head>

<body>

<div class="container-fluid" style="margin-top: 4em;">
    <div class="row">
        <img src="resource/img/top.jpg" class="img-responsive center-block" >
    </div>
</div>

<!-- 顶端状态栏 -->
<div class="container-fluid" id="loginState">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="topBar">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-1">
                <a href="/"><img src="/resource/img/logo.jpg" alt="logo"></a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 " style="margin-top: 1em;">
                <div class="input-group">
                    <input type="text" required class="form-control" ng-model="keyWords" placeholder="请输入要查询的内容"/>
                    <span class="input-group-addon" ng-click="searchGood(keyWords)">
                        <i class="glyphicon glyphicon-search"></i></span>
                </div>
            </div>
            <div class="col-md-3  pull-right" id="userState">
            </div>
        </div>
    </nav>
</div>

<!-- 搜索框预留 -->
<div class="container">

</div>


<div ng-app="myApp" >

    <div class="container">
        <!-- 导航栏 -->
        <div class="row" ng-controller="goodTypeCtrl">
            <div class="col-md-12" style="margin-top: 1em">
                <nav class="navbar navbar-inverse" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header col-offset-2 col-md-1">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">首 页</a>
                        </div>
                        <div>
                            <div class="navbar-header col-md-10 pull-right">
                                <ul class="nav navbar-nav">
                                    <li ng-repeat="type in goodTypes">
                                        <!-- 显示对应的商品分类 -->
                                       <span class="navbar-brand" ng-class="{true:'selected', false:'unselected'}[$root.selType == goodTypes[$index].type]"  ng-click="ShowPages(type.type)">{{type.name}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

            <!-- 分页网格 显示对于分类下的商品详情-->
        <div class="main" ng-controller="goodListCtrl">
            <ul class="goodWrapper">
                <li class="good-box" ng-repeat="item in items" >
                    <div class="goodBlock" ng-click="toDetailPage(item.goodId)">
                        <div class="pPic"><img class="goodPicture" ng-src="{{'/resource/img/good/' + item.goodImage}}" ></div>
                        <div class="pName">{{item.name}}</div>
                        <div class="pDescription">{{item.description}}</div>
                        <div class="pPrice"><span>{{item.price | number:2}}元</span></div>
                        <!--<p class="pCounts">数量:<span class="goodNum">{{item.counts}}</span></p>-->
                    </div>
                </li>
            </ul>

            <!-- 换页js脚本 -->
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
    </div>

</div>


<link href="/resource/css/bootstrap.min.css" rel="stylesheet">
<link href="/resource/css/lib/bootstrapValidator0.5.3.css" rel="stylesheet">
<script src="/resource/js/lib/jquery3.2.1.js"></script>
<script src="/resource/js/lib/bootstrap.js"></script>
<script src="/resource/js/lib/bootstrapValidator.js"></script>
<script src="/resource/js/lib/angular.min.js"></script>

<link href="/resource/css/main.css?t=20180602" rel="stylesheet">
<script src="/resource/js/lib/tm.pagination.js"></script>
<script src="/resource/js/utils.js"></script>
<script src="/resource/js/mainController.js?t=20180606"></script>
<script src="/resource/js/main.js?t=20180606"></script>
</body>

</html>
